*{
    padding: 0;
    margin: 0;
}

.inputstyle,#btnsignin{
   padding: 15px;
   padding-left: 10px;
   padding-right: 50px;
   width: 80%;
   margin: 5%;
   border-radius: 30px;
   float: right;
}
#btnsignin2{
    padding: 15px;
    padding-left: 10px;
    padding-right: 50px;
    width: 80%;
    margin: 5%;
    border-radius: 30px;
}
#lbcheck{
    display: block;
    float: left;
    
}
#checkbox{
    accent-color: red;
}
#textforgot{
    display: block;
    float: right;
    margin-left: 24%;
}
#infocontainer{
    height: 5vh;
}
#down{
    margin: 30px;
}
form{
    /* border: 1px solid; */
    height: 220px;
    width: 30%;
    margin-left: 20%;
    padding: 50px;
}
p{
    text-align: center;
}
#signin{
    margin-left: 30px;
    font-size:25px
}
#formdiv2{
    height: 60vh;
    margin-left:51% ;
    width: 90%;
    border: 1px solid; color: rgb(211, 206, 206);
    box-shadow: 0 4px 4px rgba(243, 237, 237, 0.1), 0 8px 16px rgba(246, 242, 242, 0.1) ;
    /* padding: 10px; */
    background-color: white;
    margin: 10px;
    padding: 30px;
}
#formdiv3{
    height: 62vh;
    margin-left:105% ;
    width: 90%;
    margin-top: -499.5px;
    border: 1px solid; color: rgb(168, 168, 168);
    background-color:rgb(255, 0, 51);
    box-shadow: 0 4px 4px rgba(243, 237, 237, 0.1), 0 8px 16px rgba(246, 242, 242, 0.1) ;
    padding: 25px;
    text-decoration: none;color: white;
    text-align: center;
}

#shift{
    padding-left: 200px;
}

 a{
    text-decoration: none; 
 }

 #btnsignin{
    background-color:red;
    border-color:red;
    border-radius: 30px;
    color: white;
    text-align: center;
  
 }
 #login{
    font-size: 25px;
    margin: 100px;
    padding-bottom: -10px;
 }
